@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html {
    scroll-behavior: smooth;

}

section {
    width: 100%;
    height: 100vh;
}

section nav {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

section nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul {
    list-style: none;
    display: flex;
    margin: 10px;
    padding-right: 20px;
}

section nav ul li {
    display: inline-block;
    margin: 20px;
    right: 0;
    left: 0;
}

section nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

section nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: red;
    display: block;
    transition: 0.3s linear;
}

section nav ul li a:hover:after {
    width: 100%;
    text-decoration: none;

}

section nav ul li a:hover {
    color: red;
}

section nav .icon i {
    font-size: 20px;
    color: black;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    transition: 0.3s linear;
}

section nav .icon i:hover {
    text-decoration: none;
    color: red;
}

section .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;

}

section .main .men-text {
    font-size: 30px;
    position: relative;
    top: -90px;
    left: 5px;

}

section .main .men-text span {
    margin-left: 15px;
    color: red;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

section .main .main-image img {
    width: 500px;
    position: relative;
    left: 70px;
    border-radius: 60px;
}


section p {
    width: 650px;
    margin-top: 60px;
    text-align: justify;
    position: relative;
    left: 110px;
    bottom: 120px;
    line-height: 22px;
    font-size: 15px;
}

section .main-btn {
    background: red;
    position: relative;
    left: 123px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    border-radius: 3px;
    padding: 12px 25px;
}

section .main-btn a {
    color: #fff;
    margin-right: 5px;
    text-decoration: none;

}

section .main-btn i {
    color: #fff;
    transition: 0.3s;
}

section .main-btn i:hover {
    transform: translateX(7px);
}

.about-main .main-image-2 img {
    width: 600px;
    height: 650px;
    margin-top: 60px;
    position: relative;
    left: 50px;
    border-radius: 60px;
}

/* About */

.about {
    width: 100%;
    height: 100vh;
}

.about .about-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about-main .main-image img {
    width: 500px;
    position: relative;
    top: 5px;
}

.about .about-main .main-image-2 img {
    width: 500px;
    height: 600px;
    position: relative;
    margin-top: 60px;
}

.about .about-main .about-text h1 span {
    color: red;
    margin-right: 15px;
    font-family: mv boli;
    top: 15px;
}

.about .about-main .about-text h1 {
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .about-main .about-text h3 {
    font-size: 30px;
    margin: 0 0 5% 0;
}

.about .about-main .about-text p {
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}



/* Menu Order */

.menu {
    width: 100%;
    height: 70px 0;
}

.menu h1 {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.menu h1 span {
    color: red;
    font-family: mv boli;
}

.menu h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu-box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu-box .menu-card {
    width: 350px;
    height: 520px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.menu .menu-box .menu-card .small-card {
    margin-top: 2px;
    padding: 10px;
}

.menu .menu-box .menu-card .menu_info {

    padding: 10px;
}

.menu .menu-box .menu-card .menu_image {
    width: 300px;
    height: 245px;
    margin: 10px auto;
    overflow: hidden;
}

.menu .menu-box .menu-card .menu_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu-box .menu-card .menu_image:hover img {
    transform: scale(1.1);
}

.menu .menu-box .menu-card .small-card {
    width: 55px;
    height: 55px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu-box .menu-card:hover .small-card {
    position: relative;
    top: -270px;
    right: 20px;
    opacity: 1;
    transition: 0.2s;
}

.menu .menu-box .menu-card .small-card i {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;

}

.menu .menu-box .menu-card .small-card i:hover {
    color: red;
}

.menu .menu-box .menu-card .menu_info h2 {
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: rgb(255, 17, 17);

}

.menu .menu-box .menu-card .menu_info p {
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25p;
    color: #000;
    margin-top: 5px;
}

.menu .menu-box .menu-card .menu_info h3 {
    text-align: center;
    font-size: 25p;
    margin: 10px auto 10px auto;
}

.menu .menu-box .menu-card .menu_icon {
    text-align: center;
    font-size: 25p;
    color: rgb(255, 208, 0);
    margin: 10px auto 10px auto;
}

.menu .menu-box .menu-card .menu_info a {
    text-align: center;
    font-size: 25p;
    justify-content: center
}

.menu .menu-box .menu-card .menu_info .menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.2s;
}

.menu .menu-box .menu-card .menu_info .menu_btn:hover {
    background-color: red;
}

/* Gallery */

.gallery {
    width: 100%;
    height: 70px 0;
}

.gallery h1 {
    font-size: 55px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery h1 span {
    color: red;
    font-family: mv boli;
}

.gallery h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallery_image_box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery_image_box .gallery_image img {
    width: 350px;
    height: 400px;
    border: 3px solid #000;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
}

/* ... */

/* div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    div img{
        width: 350px;
        height: 400px;
        border: 3px solid #000;
        border-radius: 15px;
        cursor: pointer;
        margin: 10px;
    } */


/* Review */
.review {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.review h1 {
    font-size: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 span{
    margin-left: 15px;
    color: red;
    font-family: mv boli;
}

.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    position: relative;
    bottom: 15px;
    display: block; 
}

.review .review-profile img{
    width: 150px;
    height: 180px;
}

.review .review-box{
    width: 95%;
    margin: 70px auto;
    display: flex;
}

.review .review-box .review-card{
    width: 350px;
    height: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px 20px;
    margin: 0 8px;
}

.review .review-box .review-card .review-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review-box .review-card:hover .review-profile{
    transform: translateY(-60px);
}

.review .review-box .review-card .review-profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 58%;
    border: 5px solid #cccccc;

}

.review .review-box .review-card .review-text{
    text-align: center;
}

.review .review-box .review-card .review-text .name{
    color: #000;
    transition: 0.3s;
}

.review .review-box .review-card:hover .review-text .name{
    transform: translateY(-60px);
}

.review .review-box .review-card .review-text .rivew-icon{
    color: rgb(255, 208, 0);
    transition: 0.3s;
}

.review .review-box .review-card:hover .review-text .rivew-icon{
    transform: translateY(-30px);
}

.review .review-box .review-card .review-text .review-sosial i{
    margin: 5px 1px;
    font-size: 15px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.review .review-box .review-card:hover .review-text .review-sosial i{
    opacity: 1;
    transform: translateY(-8px);
}

.review .review-box .review-card .review-text p{
    text-align: center;
    line-height: 22px;
    transition: 0.;
}

.review .review-box .review-card:hover .review-text p{
    margin-top: 5px;
}

/* Order */

.order{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
}

.order h1 span{
    color: red;
    font-family: mv boli;
    margin-right: 15px;
}

.order h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: relative;
    bottom: 15px;
}

.order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order .order_main .order_image img{
    width: 500px; 
    border-radius: 77%;  

}

.order .order_main form{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 0 10px;
}

.order .order_main form .input p{
    line-height: 25x;
}

.order .order_main form .input{
    margin: 5px;
}

.order .order_main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border-radius: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 4px;
}

.order .order_main form .input input:focus{
    border: 2px solid red;
}

.order .order_main form .order_btn{
    padding: 10px 0;
    background: red;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
}


/* Team */

.team{
    width: 100%;
    height: 90vh;
    background-image: url(./image/);
    background-size: cover;
    background-position: center;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.team h1 span{
    color: red;
    font-family: mv boli;
    margin-left: 15px;
}

.team h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: red;
    margin-bottom: 15px;
}


.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}


.team .team_box .profile .info .team_icon i:hover{
    color: red;
}

/* Footer */

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;    
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}


footer .footer_main .footer_tag p{
    margin: 10px 0;
}


footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: red;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 5px;
    margin-left: 10px;
}

footer .end span{
    color: red;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 15px;
}